<div class="container-fluid align-items-center">
  <div
    class="row justify-content-center align-items-center border border-primary border-2 p-3 col-sm-10 mx-auto rounded mb-3"
  >
    <div class="col-md-4">
      <h2 class="fw-bold mb-3 text">Enter a Word</h2>

      <form>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            [(ngModel)]="userInput"
            [value]="userInput"
            name="userInput"
            type="text"
          />
          <label for="user-input">Word</label>
        </div>
        <button
          (click)="onUserClick($event)"
          class="btn btn-primary m-2"
          [disabled]="hasSpaces()"
        >
          Submit
        </button>
        <div *ngIf="hasSpaces()" class="text-danger">
          Please enter a single word without spaces.
        </div>
      </form>
    </div>
  </div>
  <div class="row p-3">
    <app-odd-length-words
      [oddWords]="oddWords"
      [oddCount]="oddCount"
      class="col-md-6"
    ></app-odd-length-words>
    <app-even-length-words
      [evenWords]="evenWords"
      [evenCount]="evenCount"
      class="col-md-6"
    ></app-even-length-words>
  </div>
</div>
